@import url('https://fonts.googleapis.com/css?family=Karla:400,700&display=swap');

.barraflex {
    width: 100%;
    display: flex;
    justify-content: space-between
}

/*Login*/

.rotate-45 {
    --transform-rotate: 45deg;
    transform: rotate(45deg);
}

.group:hover .group-hover\:flex {
    display: flex;
}

/*Dashborad*/

.font-family-karla {
    font-family: karla;
}

.bg-sidebar {
    background: #3d68ff;
}

.text-bluezinho {
    color: #3d68ff;
}

.cta-btn {
    color: #3d68ff;
}

.upgrade-btn {
    background: #1947ee;
}

.upgrade-btn:hover {
    background: #0038fd;
}

.active-nav-link {
    background: #1947ee;
}

.nav-item:hover {
    background: #1947ee;
}

.account-link:hover {
    background: #3d68ff;
}

.boton-hover:hover{
    color: white;
    background: #0038fd;
}